# SPDX-License-Identifier: Multics or MIT-0
# Copyright (c) 2025 Jeffrey H. Johnson
# Copyright (c) 2025 The DPS8M Development Team
a.out
/clean
/convert
*.core
core
core-*
/errnum
/*.log
/*.otf
/*.sfd
/*.ttf
